.logoImg {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    height: 50%;
    width: 50%;
}

.logoName {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    height: 80%;
    width: 80%;
}

.intro {
    margin-top: 10%;
    font-size: large;
}

.loginContent {
    margin-top: 5%;
}

.who {
    color: #374f7f;
}